<% if !@requested_user.nil? %>
    $("#undo_add_<%= id_user(@requested_user) %>")
        .html("<%= escape_javascript(render('users/add_friend_form', user: @requested_user)) %>")
<% end %>

<% if !@friendship_request.nil? %>
    $("#new_friendship").remove()
    $("#edit_friendship_request_<%= @friendship_request.id %>")
        .html('<div>Declined</div>')
<% end %>