$('#unlike_<%= @post.id %>')
    .html('<%= escape_javascript(render('likes/like', post: @post)) %>')
$('.total_likes')
    .replaceWith('<div class="total_likes">Likes: <%= escape_javascript(@post.likes.count.to_s) %></div>' )